.image-scan-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.top-half {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-height: 20vh;
    text-align: center;
}

.bottom-half {
    padding: 20px;
    overflow-y: auto;
    height: 40vh;
    flex: 1;
    text-align: center;
    color: #fff;
}

.full-screen-image {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@media (min-width: 768px) {
    .image-scan-container {
        flex-direction: row;
    }

    .top-half {
        flex: 1;
        height: 80vh;
        min-height: 80vh;
    }

    .bottom-half {
        height: 80vh;
        overflow-y: auto;
        padding-top: 0;
    }

    .full-screen-image {
        height: 100%;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.list-item-title {
    color: #ccc;
}

.custom-list-item {
    padding: 10px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}

.custom-list-item:hover {
    background-color: #ddd;
}

.full-screen-image-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.upload-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-list-item {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    transition: background-color 0.3s;
}

.custom-list-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.custom-list-item.swiping {
    transform: translateX(-70px);
}

.custom-list-item .list-header {
    height: 50px;
    transition: background-color 0.3s;
}

.custom-list-item:hover {
    background-color: #e0e0f0;
}

.custom-list-item .list-header p {
    margin: 0;
}

.custom-list-item.expanded {
    background-color: #f0f0f0;
}

.list-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.right-icon-container {
    text-align: left;
    width: 5%;
}

.left-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    background-color: #0073e6; /* Background color for the icon container */
    color: #fff; /* Icon color */
    border-radius: 50%; /* Make it a circle */
    margin-right: 3%; /* Add margin to separate it from the title */
    font-size: 20px; /* Adjust the icon size */
}

.icon.up,
.icon.down {
    color: #333;
    font-size: 20px;
}

.title-container {
    flex: 3;
    text-align: center;
    width: 70%;
    padding: 0 10px; /* Add horizontal padding */
}

.item-title {
    font-size: medium;
    color: #333;
}

.item-price {
    color: #333;
    font-weight: bold;
}

.date-container {
    flex: 1;
    text-align: right;
    width: 20%;
}

.item-date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}

.item-date p {
    margin: 0;
}

/* Additional styling for the date at the top */
.item-date p:first-child {
    font-size: 14px; /* Adjust font size as needed for day/month */
    color: #333;
    font-weight: bold;
}

/* Additional styling for the year at the bottom */
.item-date p:last-child {
    font-size: 12px; /* Adjust font size as needed for the year */
    color: #333;
}

.additional-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.custom-list-item.expanded .additional-details {
    max-height: fit-content;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.additional-details label {
    display: block;
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 90%;
    font-size: small;
}

.additional-details input, .additional-details select {
    width: 90%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f5f5f5;
    color: #333;
}

.additional-details button {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.additional-details button:hover {
    background-color: #0052a8;
}

.custom-list-item .delete-button {
    background-color: #ff5555;
    color: #fff;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.1s;
}

.custom-list-item.swiping .delete-button {
    transform: translateX(0);
}

.custom-list-item .delete-button:hover {
    background-color: #ff3333;
}

.custom-list-item .details-delete-button {
    background-color: #ff5555;
}

.custom-list-item .details-delete-button:hover {
    background-color: #ff3333;
}
