.image-scan-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.top-half {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-height: 20vh;
    /* Take up available space in both scenarios */
    text-align: center;
    /* transition: height 0.3s ease; */
}

.bottom-half {
    padding: 20px;
    overflow-y: auto;
    height: 40vh;
    /* Enable vertical scrolling if needed */
    color: white;
    flex: 1;
    /* Take up available space in both scenarios */
    text-align: center;
}

.full-screen-image {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Semi-transparent background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@media (min-width: 768px) {
    .image-scan-container {
        flex-direction: row;
        /* Split items horizontally */
    }

    .top-half {
        flex: 1;
        /* Equal width in the top row */
        height: 80vh;
        min-height: 80vh;
    }

    .bottom-half {
        /* flex: 1; */
        /* Equal width in the bottom row */
        height: 80vh;
        overflow-y: auto;
        padding-top: 0%;
    }

    .full-screen-image {
        height: 100%;
        min-height: 0%;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.list-item-title {
    color: #ccc;
}

.custom-list-item {
    padding: 10px;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
}

.custom-list-item:hover {
    background-color: #ddd;
}

.full-screen-image-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.upload-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    position: absolute;
    /* Fixed position at the top */
    top: 0;
    /* Stick to the top of the viewport */
    left: 0;
    /* Stick to the left of the viewport */
    right: 0;
    /* Stick to the right of the viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Header background color */
    color: white;
    /* Text color */
    padding: 10px;
    /* Adjust padding as needed */
}

.cancel-button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Add this CSS to your existing stylesheet or create a new one */
.done-button {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    background: transparent;
    /* Button background color */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the button on hover */
.done-button:hover {
    background: #0056b3;
    /* Hover color */
}

.custom-list-item {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    transition: background-color 0.3s;
}

.custom-list-item.expanded {
    background-color: #f0f0f0;
}

.list-header {
    display: flex;
    justify-content: space-between;
}

.item-title {
    color: #333; /* Adjust the color as needed */
    font-weight: bold;
}

.icon.up, .icon.down {
    color: #333; /* Adjust the color as needed */
    font-size: 20px; /* Adjust the icon size as needed */
}

.additional-details {
    color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.custom-list-item.expanded .additional-details {
    max-height: 200px; /* Adjust the max height as needed */
}
