/* Close button style */
.sliding-menu-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #333;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Style for the entire menu */
.sliding-menu {
    position: fixed;
    bottom: 0;
    transform: translate(0, 100%);
    max-width: 600px;
    width: 90%;
    min-height: 30%;
    height: fit-content;
    padding: 5%;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform-origin: bottom;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* transform: translateY(100%); */
}

/* Additional styles for sliding in and fading in the menu */
.sliding-menu.open {
    transform: translate(0, 0);
    opacity: 1;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Horizontally center the content */
    justify-content: center;
    /* Vertically center the content */
    height: 100%;
    /* Fill the entire height of the menu */
    color: black;
}

.menu-content button {
    width: fit-content;
    margin-top: 10px;
}

/* Overlay style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 999;
    /* Place it above the menu */
}